






header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  text-align: right;
}

.logo {
  border: 1px solid black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

header nav {
  display: flex;

}
